<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change 1st Element
      </button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">
        Destroy 1st Element
      </button>

      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <!-- <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em> -->

          <!-- This error occurs when you're trying to target an element that is wrapped in a condition.

So, here if I use ngIf in place of [hidden], it will give me TypeError: Cannot read property 'nativeElement' of undefined

So use [hidden], class.show or class.hide in place of *ngIf. -->

          <strong
            [ngStyle]="{
              color: serverElement.type === 'server' ? 'red' : 'blue'
            }"
          >
            {{ serverElement.content }}
          </strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
